<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>addEmployee</title>
</head>
<body>
<form name="newEmployeeForm" action="newuser.mvc" method="POST">
<h1>Add a new Employee!</h1>

Title: <input type="text" name="titleInput" placeholder="Title">
First Name: <input type="text" name="fNameInput" placeholder="First Name">
Last Name: <input type="text" name="lNameInput" placeholder="Last Name">
DOB: <input type="date" name="dobInput" placeholder="DOB" min="2015-10-21">
Salary: <input type="number" name="salaryInput" placeholder="Salary">
<input type="submit" value="Submit">

</form>




</body>
</html>